
  .HomePage-container {
    width: 100%;
    height: 1900px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  .background-vido1{
  position: absolute;
  top: -200px;
  left: 0;
  width: 100%;
  height: 100%;
   }
   .background-vido2{
    position: absolute;
    top: 850px;
    left: 0;
    width: 100%;
    height: 100%;
   }
   
   .background-video3{
    position: absolute;
    top:1850px
    
   }
.noticaction {
    margin: 0;
    background-color: rgba(38, 18, 12, 0.62);
    block-size: 400px;
    width: 400px;
    position:absolute;
    left:1470px;
    top:100px;
    z-index: 2;
    border-block-end-color: rgb(255, 255, 255);
    border-block-start-color: rgb(255, 255, 255);
  }
  .message{
    margin: 0;
    background-color: rgba(0, 0, 0, 0.62);
    block-size: 400px;
    width: 400px;
    position:absolute;
    left:1470px;
    top:600px;
    border-block-end-color: rgb(255, 255, 255);
    border-block-start-color: rgb(255, 255, 255);
  }
  .chat{
position: absolute;
left:1700px;
display: flex;
top:950px;
margin: 10px;
z-index: 21;
  }
  .posts{
    margin: 0;
    background-color: rgba(0, 0, 0, 0.62);
    block-size: 400px;
    width: 700px;
    position:absolute;
    left:1100px;
    top:340px;
    border-block-end-color: rgb(255, 255, 255);
    border-block-start-color: rgb(255, 255, 255);
  }

  
  .new-news {
    display: flex;
    justify-content: space-between;
    border: 1px solid rgba(255, 255, 255, 0.08);
    color: rgb(255, 255, 255);
    font-size: 16px;
    height: 50px;
    text-decoration: none;
    text-overflow: ellipsis;
    width: 490px;
  }
  

  .news_date {
    line-height: 50px;
    color: rgba(255, 255, 255, 0.35);
    padding: 0 11px;
    position: absolute;
    right: 11px;
    
  }
 
  .image-slider {
    position: absolute;
    width: 800px;
    height:400px;
    margin: 0 auto;
    overflow: hidden;
    right:850px;
    top:350px;
    z-index: 100000;
  }
  
 
  .image-slider img {
    display: block;
    width: 100%;
    height: auto;
    transition: transform 0.5s ease-in-out;
  }
  
  .image-slider button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  .image-slider button:hover {
    background: rgba(0, 0, 0, 0.7);
  }
  
  .image-slider button:first-child {
    left: 0;
  }
  
  .image-slider button:last-child {
    right: 0;
  }
  .areas {
    display: grid;
    flex-direction: column;
    align-items: center;
    align-content: space-between;
    grid-template-columns: 1fr 1fr 1fr;
    position: absolute;
    top:350px;
    gap: 50px;
    left:350px
  
  }
  

  
  .area1 {
    background-color: #878787;
    width: 400px;
    height: 200px;
    top: 200px;
    cursor: pointer;

  }
  
  .area2 {
    background-color: #7c3030;
    width: 400px;
    height: 200px;
    top: 300px;
    cursor: pointer;

  }
  
  .area3 {
    background-color: #bfff00;
    width: 400px;
    height: 200px;
    top: 400px;
    cursor: pointer;

  }
  
  .area4 {
    background-color: #00ff59;
    width: 400px;
    height: 200px;
    top: 600px;
    cursor: pointer;

  }
  
  .area5 {
    background-color: #ff0073;
    width: 400px;
    height: 200px;
    top: 800px;
    cursor: pointer;

  }
  
  .area6 {
    background-color: #c41212;
    width: 400px;
    height: 200px;
    top: 1000px;
    cursor: pointer;
  }

  div.area1:hover,
  div.area2:hover,
  div.area3:hover,
  div.area4:hover,
  div.area5:hover,
  div.area6:hover {
    transform: scale(1.1); 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); 
    transition: .4s;
  }
.areass{
  position: absolute;
  color: azure;
  top:200px;
  left:850px;
  width: 300px;
  text-align: center;
  background-color: black;
  border-radius: 15px;
}
.posto{
  position: absolute;
  color: azure;
  text-align: center;
  background-color: black;
  border-radius: 15px;
 top: 150px;
 lefT:800px;
 width: 300px;

}