.counter {
  width: 14px;
  height: 14px;
  background-color: red;
  border-radius: 50%;
  position: absolute;
  bottom: 11px;
  left: 10px;
}
.counter span {
  border-radius: 50%;
  color: white;
  font-size: 10px;
  position: relative;
  left: 4.4px;
  bottom: 7.5px;
}

.bell {
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
}
.bellicon {
  font-size: 20px;
}

.navUl li {
  text-decoration: none;
}

.nav {
  /* overflow: hidden; */
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}
