

.footer{
  position: fixed;
  height: 100px;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(0,0,0,0.5);
  color: white;
  }
.footer p{
  position: relative;
  bottom: 15px;
  text-align: center;
  color: #858585;
  }
.footer ul{
  list-style: none;
  display: flex;
  padding: 10px;
  margin: 10px;
}
.footer ul li{
  padding: 10px;
  position: relative;
  left: 45%;
}
.footer ul .li1{
  color: #ffc107;
  font-size: 30px;
}
.footer ul .li2{
  color: #ffc107;
  font-size: 30px;
}
.footer ul .li3{
  color: #ffc107;
  font-size: 30px;
}
.footer ul .li4{
  color: #ffc107;
  font-size: 30px;
}

.img {
  width: 100px;
  height: 60px;
  border-radius: 50px;
  position: relative;
  left: 10px;
  top: 4px;
}

#id {
  background-color: rgba(0,0,0,0.3);
  box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.35);
  width: 100%;
  height: 85px;
  border-bottom: 0.1px solid rgba(172, 172, 172, 0.114);
  z-index: 999;
  position: fixed;
}

.font {
  font-size: 20px;
  position: relative;
  right: 500px;
  margin: 25px;
  color: white;
}

.font:hover {
  text-shadow: 0 0 10px #69e0ff, 0 0 20px #69e0ff, 0 0 40px #69e0ff;
  color: white;
}

.font:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 3px;
  bottom: 0;
  left: 0;
  background-color: gold;
  transform-origin: bottom right;
  transition: transform 0.5s ease-out;
}

.font:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.logfont {
  font-size: 20px;
  position: relative;
  right: 5px;
  top: 23px;
  color: white;
}

.logfont:hover {
  text-shadow: 0 0 10px #69e0ff, 0 0 20px #69e0ff, 0 0 40px #69e0ff;
  color: white;
}

#button {
  width: 10em;
  position: relative;
  right: -13px;
  height: 84px;
  width: 250px;
  background-color: goldenrod;
  color: white;
  font-size: 16px;
  font-weight: bold;
  transition: 0.8s;
  border-radius: 1px;
}
#button:hover {
  background-color: transparent;
  color: goldenrod;
}


/* Footer */
footer {
  background-color: #45526e;
  color: black;
}

/* Section: Links */
section {
  padding: 20px;
}

/* Section: Copyright */
section.p-3 {
  background-color: #333;
  color: white;
}

/* Company name */
h6.font-weight-bold {
  font-size: 18px;
}

/* Links within columns */
p a.text-white {
  text-decoration: none;
  color: white;
  transition: color 0.3s;
}

p a.text-white:hover {
  color: #ffc107; /* Change the color on hover */
}

/* Social media buttons */
.btn.btn-outline-light {
  color: white;
  border-color: white;
  margin: 5px;
}



/* responsive */
@media screen and (max-width: 769px) {
  .font {
    position: relative;
    left: 1px;
    color: rgb(30, 24, 24);
  }
  .logfont {
    display: none;
  }

  .img {
    position: relative;
    left: -15px;
  }
  .game {
    display: none;
  }

}


