.shopC {
  width: 100%;
  height: 100vh;
}

.video {
  position: absolute;
  width: 99.9%;
  height: 100vh;
  object-fit: cover;
  z-index: -1;
}

.overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.firstSc {
  display: flex;
  height: 600px;
  width: 95%;
  position: relative;
  top: 10%;
}

.slider-large {
  max-width: 1400px;
  height: 100%;
  width: 65%;
  padding-left: 4px;
  padding-right: 15px;
  position: relative;
}

.slider-small {
  max-width: 1400px;
  height: 100%;
  width: 100%;
  position: relative;
}

.slider-container1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 15px;
  height: 600px;
  width: 50%;
}

.slider-image {
  margin-top: 100px;
  margin-left: 40px;
  width: 100%;
  height: 100%;
  border: 2px solid grey;
  border-radius: 2px;
  background-position: center;
  background-size: cover;
  transition: background 0.5s;
  opacity: 1;
}

.slider-image:hover {
  border-color: rgb(167, 142, 2);
  opacity: 0.7;
}

.slider-arrow {
  margin-top: 100px;
  margin-left: 70px;
  display: none;
  position: absolute;
  top: 50%;
  transform: translate(-0%, -50%);
  border-radius: 50%;
  padding: 2px;
  background: rgba(0, 0, 0, 0.2);
  color: white;
  cursor: pointer;
}

.slider-arrow.left {
  left: 5px;
}

.slider-arrow.right {
  right: 5px;
}

.slider-dots {
  display: flex;
  bottom: 3rem;
  position: relative;
  justify-content: center;
  color: #f8f5f5;
}

.slider-number {
  font-size: 25px;
  cursor: pointer;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #333;
  border-radius: 5px;
  margin: 0 0.5rem;
  background-color: #181820;
  color: #333;
  transition: border-color 0.3s;
}

.currentIndex {
  font-size: 25px;
  cursor: pointer;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid rgb(155, 136, 30);
  border-radius: 5px;
  margin: 0 0.5rem;
  background-color: #181820;
  color: rgb(155, 136, 30);
  transition: border-color 0.3s;
}

.slider-number:hover {
  border-color: rgb(155, 136, 30);
  color: rgb(155, 136, 30);
}

.slider-container:hover .slider-arrow {
  display: block;
}

.iconImg {
  opacity: 0;
  position: absolute;
  bottom: 25%;
  left: 50%;
  transition: opacity 0.6s;
}

.slider-image:hover .iconImg {
  opacity: 1;
}

.slider-image:hover .pName {
  opacity: 1;
}

.pName {
  opacity: 0;
  position: absolute;
  font-size: 30px;
  font-weight: bold;
  bottom: 9%;
  left: 10%;
  color: rgba(255, 217, 0, 0.76);
  text-shadow: 0 0 10px rgba(0, 0, 0, 1), 0 0 20px rgba(0, 0, 0, 1),
    0 0 40px rgba(0, 0, 0, 1);
  transition: opacity 0.6s;
}

.slider-image:hover .pTitle {
  opacity: 1;
}

.pTitle {
  opacity: 0;
  position: absolute;
  bottom: 0%;
  left: 10%;
  color: rgba(255, 217, 0, 0.76);
  text-shadow: 0 0 10px rgba(0, 0, 0, 1), 0 0 20px rgba(0, 0, 0, 1),
    0 0 40px rgba(0, 0, 0, 1);
  transition: opacity 0.6s;
}

.subNav {
  display: flex;
  padding-left: 33px;
  position: fixed;
  width: 100%;
  z-index: 99;
  padding-top: 85px;
}

.subNav.scrolled {
  background-color: rgba(17, 17, 17, 0.85);
}

.subNav .btnSub {
  color: #c49250;
  border: none;
  padding: 10px 20px;
  margin-right: 50px;
}

.subNav .btnSub:hover {
  color: #ffcf91;
}

.pName1 {
  position: absolute;
  bottom: -30%;
  left: 30%;
  font-size: 30px;
  font-weight: bold;
  color: rgba(255, 217, 0, 0.493);
  text-shadow: 0 0 10px rgba(0, 0, 0, 1), 0 0 20px rgba(0, 0, 0, 1),
    0 0 40px rgba(0, 0, 0, 1);
}

.iconImg1 {
  position: absolute;
  bottom: -33%;
  left: 40%;
  width: 60px;
  height: 30px;
}

.price {
  display: flex;
  position: absolute;
  bottom: -30.5%;
  left: 53%;
  width: 20px;
  height: 30px;
  font-size: 30px;
  font-weight: bold;
  color: rgb(136, 116, 0);
}

.iconRp {
  width: 60px;
  height: 30px;
}

.midSc {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.custom-list-item {
  opacity: 0;
  margin: 20px;
  padding: 0;
  list-style-type: none;
  margin-bottom: 10px;
  width: 400px;
  height: 500px;
  transition: opacity 1.5s;
}

.custom-list-item.scrolly {
  transition: opacity 1.5s;
  opacity: 1;
}
.custom-list-item img:hover {
  transform: scale(1.1, 1.1);
}

.custom-list-item img {
  max-width: 100%;
  border-radius: 5px 5px 0 0;
}

.custom-list-item .item-details {
  padding: 10px;
}

.custom-list-item .title {
  font-size: 20px;
  font-weight: bold;
  color: #c49250;
  margin: 30px 0;
}

.custom-list-item .description {
  font-size: 16px;
  color: white;
  line-height: 1.4;
}

.custom-list-item .category {
  font-size: 14px;
  color: #c49250;
  text-transform: uppercase;
  font-weight: bold;
  margin-left: 15px;
}

.custom-list-item .date {
  font-size: 14px;
  color: white;
}

.headerMid {
  color: white;
  align-self: flex-start;
  margin-left: 300px;
}

.list-item-M {
  display: flex;
}
